
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-image: linear-gradient(rgba(36,35,35,0.5),rgba(36, 35, 35, 0.5)), url('/Galleri/img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    font-family: Helvetica, sans-serif;
    color: white;
}

:root { /* Färgerna från paletten*/
    --tin: #D7D7D8; /* Tin */
    --mtin: #B8B8BB; /* Medium Tin */
    --dtin: #AEAEB1; /* Dark Tin */
    --ashg: #636458; /* Very Light Ash Grey*/
}

/* Navbar Johanna */

nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    position: fixed;
    background-color: black;
    font-weight: bold;
    top: 0;
    height: 75px;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 1em;
}

nav ul li a {
    background-color: white;
    color: black;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid black;
    text-decoration: none;
    text-align: center;
    margin: 2em;
    transition: all 0.8 ease;
}

nav ul li a:hover { 
    background-color: black;
    color: white;
}

nav ul li.active a{
    background-color: black;
    color: white;
    border: 1px solid white;
}

/* About section*/

section{
    text-align: center;
    height: 1350px;
}
.container{
    margin-top: 0px;
    height: calc(50px - 50px);
    border: 1px solid white;
    height: 20vh;
    box-shadow: 2px var(--dtin);
}

.container h1{
    letter-spacing: 2px;
    padding: 10px 10px;
    text-transform: uppercase;
}


.container{
    transform: translateY(20vh);
}

.img{
    margin-top: 23vh;
}

.pers{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 20px;
    position:relative;
}

.pers > div{
    background-color: var(--dtin);
    text-align: center;
    padding: 20px 20px;
}

.text1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
}

.t1hover {
    position: absolute;
    width: 100%;
    height: 90%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
    
}

.t1hover:hover {
    opacity: 1;
}

.text2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1;
}

.t2hover {
    position: absolute;
    width: 100%;
    height: 90%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
    
}

.t2hover:hover {
    opacity: 1;
}


.text3{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 1;
}

.t3hover {
    position: absolute;
    width: 100%;
    height: 90%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
}

.t3hover:hover {
    opacity: 1;
}


/* Yuns kod */
.footer{
    background-color: black;
    color: var(--tin);
    padding: 30px 0px 30px 0px;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
}

ul{
	list-style: none;
    padding: 0px;
    text-align: center;
}

.footerbox{
   width: 25%;
   box-sizing: border-box;
   text-align: center;
}

.footerbox h4{
	font-size: 18px;
    color: var(--tin);
	text-transform: capitalize;
    
}

.social-links {
    text-align: center;
}

.footerbox .social-links a{
	display: inline-block;
	height: 30px;
	width: 30px;
	background-color: var(--ashg);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	color: var(--tin);
	transition: all 0.5s ease;
}
.footerbox .social-links a:hover{
	color: var(--ashg);
	background-color: var(--tin);
}

  .email-box i{
    background: var(--ashg);
    padding: 6px 7px 8px 7px;
  }
  .tbox,.btn{
    border: none;
    outline: none;
  }
  
  .tbox{
    width: 0px;
    transition: 0.6s;
    padding: 0;
    height: 30px;
  }
  .email-box:hover > .tbox,.tbox:focus{
    width: 150px;
    padding: 0 10px;
  }
  .btn{
    background: var(--ashg);
    color:var(--tin);
    padding: 0px 10px;
    text-transform: uppercase;
  }

  button{
    height: 30px;
  }
  
@media(max-width: 960px){
  .footerbox{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 768px){
  .footerbox{
    width: 100%;
}
}