* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Helvetica, sans-serif;
}

:root { /* Färgerna från paletten*/
    --tin: #D7D7D8; /* Tin */
    --mtin: #B8B8BB; /* Medium Tin */
    --dtin: #AEAEB1; /* Dark Tin */
    --ashg: #636458; /* Very Light Ash Grey*/
    --ashb: #252525; /* Very Ash Black */
}

body, html {
    height: 100%;
}

/* Navbar Johanna */

nav {
    background: #252525;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  label.logo {
    float: left;
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  
  nav ul {
    float: left;
    margin-left: 5vw;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  a.active, a:hover {
    background: var(--dtin);
    color: white;
    transition: .5s;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  @media (max-width: 960px) {
    .checkbtn {
        display: block;
    }
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
        border: 5px solid white;
    }
  }
  @media (max-width: 768px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--ashg);
        top: 80px;
        left:-110%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active {
        background: var(--dtin);
        color: white;
    }
    #check:checked ~ ul {
        left: 0;
    }
  }

  /* Contact section Nadine*/

  .container {
    background: var(--tin);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px;
    padding-bottom: 142px;
    height: 100%;
}

@media (max-width: 960px){
    .container{
        grid-template-columns: 1fr;
    }
  }
 
  .container-left {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
    max-width: 500px;
    min-width: 360px;
  }

  .contact-pic {
    width: 100%;
    max-width: 500px;
    min-width: 360px;
}

  .container-right {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 500px;
    min-width: 360px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-header {
    font-size: 35px;
    text-align: center;
    padding: 10px;
}

.contact-label {
    margin: 5px 0px;
}

.contact-input {
    padding: 8px;
}

#message {
    height: 100px;
}

.contact-submit {
    margin: 19px 0px;
    height: 45px;
    font-size: 20px;
    background: var(--ashg);
    border: none;
    color: white;
    }



  /* Footer Yun */

  .footer{
    background-color:var(--ashb);
    color: var(--tin);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .footerbox ul{
      list-style: none;
    padding: 0px;
    text-align: center;
  }
  
  .footerbox{
    width: 25%;
    box-sizing: border-box;
    text-align: center;
  }
  
  .footerbox h4{
      font-size: 18px;
      color: var(--tin);
      text-transform: capitalize;
      
  }
  
  .social-links {
    text-align: center;
  }
  
  .footerbox .social-links a{
      display: inline-block;
      height: 30px;
      width: 30px;
      background-color: var(--ashg);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      color: var(--tin);
      transition: all 0.5s ease;
  }
  .footerbox .social-links a:hover{
      color: var(--ashg);
      background-color: var(--tin);
  }
  
  .email-box{
    height: 30px;
    justify-content: center;
    display: flex;
  }
  
  .email-box i{
    background: var(--ashg);
    width: 30px;
    line-height: 30px;
  }
  
  .tbox,.btn{
    border: none;
    outline: none;
  }
    
  .tbox{
    width: 0px;
    transition: 0.6s;
    padding: 0;
    height: 30px;
  }
  
  .email-box:hover > .tbox,.tbox:focus{
    width: 150px;
    padding: 0 10px;
  }
  
  .btn{
    background: var(--ashg);
    color:var(--tin);
    padding: 0 10px;
    text-transform: uppercase;
  }
  
  button{
    height: 30px;
  }
    
  @media (max-width: 960px){
    .footerbox{
      width: 50%;
    }
  }
  
  @media(max-width: 767px){
    .footerbox{
      width: 100%;
    }
  
    .navbar li {
      display: block;
      padding: 10px;
      text-align: center;
      }
  
      .navbar ul {
          padding: 0;
      }
  
      img:hover{
          pointer-events: none;
      }
  
  }